*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#081b2e;
    font-family: Arial, Helvetica, sans-serif;
}
#main_content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
#navbar2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #081b2e;
}
#navbar2 a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
#content{
    color: white;
}
#content a:hover{
    color: aqua;
}
#login{
    display: flex;
    margin-left: 50px;
}
#login a{
  display: flex;
  height: 30px;
  width: 100px;
  background-color:#29a3e2;
  color: black;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
#main{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
#heading{
    color: pink;
    margin-right: 10px;
}
#heading2{
    color: white;
}
#body_section{
    width: 50vw;
    height: 200vh;
    padding: 50px;
    background-color: white;
}
#images{
    height: 130px;
    width: 130px;
    background-size: cover;
}
#contents{
    display: flex;
    
}
#outer_body{
    display: flex;
    box-sizing: border-box;
}
#inner_body{
    height: 100%;
    width: 500px;
    margin-left: 8px;
}
#names{
    color: #081b2e;
}
#msg{
    
    color: #081b2e;
}
#list{
    position: relative;
    top: 10px;
    left: 30px;
}
.list_items{
    width: 150px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content:flex-start ;
    background-color: #2ecc71;
    border:1px solid black;
}
.list_items:hover{
    background-color: blueviolet;
}
.frame_works{
    width:780px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    position: relative;
    right: 50px;
}
#frame_imgs{
    height: 50px;
    width: 50px;
}
#frame_msgs{
height: 200px;
width: 200px;
font-size: small;
}

.extra_info{
    height: 660px;
    width: 510px;
    background-color:#2ecc71;
    z-index: 10000;
    position: relative;
    left: 500px;
    bottom: 1180px;
    display: none; 
}
#nav{
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10px;
}
.fa-xmark{
    background-color:#2ecc71;
    border: none;
    font-size: 30px;
}
#hide :hover{
    background-color: red;
}
.hide_btn{
    background-color: #2ecc71;
    border: none; 
    position: relative;
    bottom: 20px; 
}

#extra_heading{
    font-size: 30px;
    position: relative;
    top: 10px;
    font-weight: 1000px;
    color: #333333;
}
#hide_info{
    padding-left: 10px;
    padding-top: 20px;
    color:white;
    margin-top: 20px;
}
#resources{
    padding: 20px 10px;
    color: #333333;
}
#resource_heading{
    display: flex;
}
.fa-unlock{
    margin-right: 5px;
    color: black;
}
.fa-star{
    color: gold;
    margin-right: 5px;
}
#resource_tags{
    padding-left: 30px;
}
li{
    margin-bottom: 10px;
}
#extra_info2{
    height: 660px;
    width: 510px;
    background-color:#2ecc71;
    z-index: 10000;
    position: relative;
    left: 500px;
    bottom: 1185px;
    display: none; 
}
#hide_btn2{
    background-color: #2ecc71;
    border: none; 
    position: relative;
    bottom: 20px; 
}
ul a{
    text-decoration: underline;
    color: black;
}




   